*{
    /* background-color: rgb(25, 23, 23);
    color: white; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: sans-serif;
}



body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 23, 23);
}

.container{
    width: 40%;
    height: min-content;
    background-color: white;
    border-radius: 10px;
    padding: 25px;
}

.search-box{
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-box input{
    width: 80%;
    height: min-content;
    font-size: 1.1rem;
    background-color: rgb(224, 228, 232);
    border-radius: 5px;
    padding: 10px 10px;
}

.search-box button{
    background-color: rgb(253, 253, 253);
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 1.3rem;
    cursor: pointer;
}

.search-box button:hover{
    background-color: rgb(230, 222, 222);
    transition: 0.5s;
}

.body{
    padding-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.body img{
    /* position: relative; */
    padding-bottom: 10px;
    width: 60%;
}

.temperature{
    display: block;
}



.temperature{
    font-size: 1.5rem;
    font-weight: bold;
}

.description{
    font-size: 1.3rem;
    text-transform: capitalize;
}


.weather-details{
    width: 100%;
    padding-top: 5%;
    display: flex;
    justify-content: space-between;
}


.humidity, .wind-speed{
    display: flex;
    align-items: center;
}

.humidity i, .wind-speed i{
    font-size: 1.3rem;
}

.text{
    padding-left: 10px;
}

span{
    font-weight: bold;
}

